@{
    ViewBag.Title = "Login";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <div class="row g-0 auth-row min-vh-100">
        <div class=" d-flex justify-content-center">

            <form action="https://localhost:44330/Home/Login" method="post">
                <h2 class=" mt-4">Accedi</h2>
                <div class="col-12 position-relative mt-4">
                    <label class=" mb-0" for="username">Email </label><br>
                    <input class="form-control form-control-lg mt-2" type="email" name="username" id="username"
                           placeholder="Email" required />
                </div>

                <div class="col-12 mt-4">
                    <label class="" for="password">Password</label>
                    <input class="form-control form-control-lg" type="password" name="password" id="password"
                           placeholder="Password" required minlength="8" />
                </div>


                <div class="col-12 mt-4 mb-4">
                    <input type="submit" class="btn btn-outline-dark w-100" name="signupSubmit" value="Accedi" />
                </div>
                <a href="https://localhost:44330/Home/Registrazione">
                    Non hai ancora un account? Registrati
                </a>
            </form>

        </div>
    </div>
</main>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
