<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Ordine non effettuato! </h2>
        <p>Il carrello è vuoto.</p>
    </div>
    <!-- redirect alla homepage-->
</div>
