@model WebApp.Modelli.Carrello;
@* @inject WebApp.Servizi.CarrelloServizi CarrelloService; *@
@{
    ViewBag.Title = "OrdineCompletato";
}
<br />
<br />
<br />
<br />
    <div class="row">
        <div class="col-md-6 offset-3 alert alert-success text-center">
            <h2>Ordine effettuato con successo! </h2>
            <p>Riceverai una email quando l'ordine sarà pronto per il ritiro.</p>
            <hr/>
            <p>Grazie!</p>
        </div>
    </div>
    <!-- redirect alla homepage-->
